<a href="https://colab.research.google.com/github/pawan054/WDLMs-Workshopday-I/blob/main/Flow_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#if-statement
if statement check the given condition and excute the code inside it when given condition is satiesfied otherwise the program flow forward.
let's check following code:

1. checking number

In [ ]:
# checking the given as even number
num = 10
if num % 2 == 0:
  print("Given number is even")

Given number is even

In [ ]:
# checking the given as even number
num = 11
if num % 2 == 0:
  print("Given number is even")

In [ ]:
# checking the given as even number
num = 11
if num % 2 == 0:
  print("Given number is even")
print("otherwise the number should be other either odd or prime or else")

otherwise the number should be other either odd or even or else




2. Offer on sale

In [ ]:
discount = 0
offer = 10000
sale = int(input("Enter the amount of your sale: "))
if sale >=offer:
  discount = (10/100)*sale
  print("your discount amount is",discount)
print("Total money paid = ", sale-discount)

Enter the amount of your sale: 5000
Total money paid =  5000

3. Finding given number as ood

In [ ]:
# checking the given as odd number
num = 11
if num % 2 != 0:
  print("Given number is odd")

Given number is odd

In [ ]:
# checking the given as odd number
num = 11
if num % 2 != 0:
  print("Given number is odd")
print("otherwise the number should be other either even or prime or else")

Given number is odd
otherwise the number should be other either even or prime or else

#if-else statement.

1. Checking given number as even or odd

In [ ]:
#checking given number is even or odd
num = int(input("Enter a number: "))
if num % 2 ==0:
  print(f"{num} is even number")
else:
  print(f"{num} is odd number")

Enter a number: 3
3 is odd number

2. Pass or Fail in exam

In [ ]:
pm = 50
om = 20
if om >= pm:
  print("Congrats,You are passed")
else:
  print("opps! you are failed")

opps! you are failed

# Nested if statements

1. finding postive and negative numbers out of two numbers

In [ ]:
#suppose there are two numbers x and y
x = float(input("Enter the value of x: "))
y = float(input("Enter the value of y: "))
if x>0:
  print("x is positive number")
  if y>0:
    print("y is also positive number")
  else:
    print("y is negative number")
else:
  print("x is negative number")

Enter the value of x: 3
Enter the value of y: 4
x is positive number
y is also positive number

2. Finding you are eligble to marry or not in Nepal.

In [ ]:
gender = input("Enter your gender either male or female: ")
age = int(input("Enter your age: "))
if gender == "male":
  if age >=24:
    print("You are eligible to marry in Nepal")
  else:
    print("You are still not allowed to marry in Nepal")
else:
  if age >=20:
    print("you are elgible to mary in Nepal")
  else:
    print("You are not eligible to marry in Nepal")]

Enter your gender either male or female: male\
Enter your age: 54
you are elgible to mary in Nepal

In [ ]:
#suppose True for male and False for female
gender = input("Enter your gender either male or female: ")
age = int(input("Enter your age: "))
if gender == "male" and age >=24:
  print('Your are eligible to marry in Nepal')
elif gender == "female" and age == 20:
  print('Your are eligible to marry in Nepal')
else:
  print('Your are not eligible to marry in Nepal')

#if-elif-else statement
1. Checking garde

In [ ]:
num = int(input('Enter you mark obtained in physics: '))
if num >= 90:
  print('your garde is A')
elif num >=80:
  print('Your garde is A-')
elif num >= 70:
  print('Your garde is B+')
elif num >= 60:
  print('Your garde is B')
elif num >=50:
  print('Your garde is C+')
else:
  print('Your are failed')

Enter you mark obtained in physics: 30
Your are failed

2. Finding the taller participants

In [ ]:
#First take the height of three person.
h1 = int(input("Tell the height of 1st person:"))
h2 = int(input("Tell the height of 2nd person:"))
h3 = int(input("Tell the height of 3rd person:"))
if h1==h2:
  if h2==h3:
    print('All are equally taller')
elif h1>h2:
  if h1>h3:
    print('First person is taller')
  else:
    print('Third person is taller')
elif h2>h3:
  print('Second person is taller')
else:
  print('Third person is taller')

Tell the height of 1st person:56
Tell the height of 2nd person:87
Tell the height of 3rd person:99
Third person is taller

In [ ]:
%%timeit
2+4

11.3 ns ± 2.37 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

#Shorthand if statements

In [ ]:
a='pawan'
if a[0]=="p": print("The zodiac of pawan is Virgo")
b = 'durga'
if b[0]=="d": print("The zodiac of durga is Pisces")

The zodiac of pawan is Virgo
The zodiac of durga is Pisces

In [ ]:
a = 5
b = 10
print("a is bigger") if a> b else print("b is bigger")

b is bigger

In [ ]:
a = 3
print("number is even") if a%2==0 else print("number is odd")

number is odd

In [ ]:
a = 2
b = 1
print("Ok") if a>b else print("Not Ok") if a==b else print("good")

Ok

#**while loop**

1. Numbers 1-100

In [ ]:
num = 1
while num <100:
  print(num)
  num+=1
  #print(num)

2. Physics problem

In [ ]:
'''Finding the horizontal range
 for angles 0-90
  printing maximum angle and corrosponding horizontal range'''

#import math
g = 9.8
u = 20
angle_deg = 0
max_H = 0
max_deg = 0

while angle_deg <= 90:
    angle_rad = math.radians(angle_deg)
    H = u**2 * math.sin(2 * angle_rad) / g
    print(f"Angle: {angle_deg}, Horizontal Range = {H}")
    if H > max_H:
        max_H = H
        max_deg = angle_deg  # Update max_deg when updating max_H
    angle_deg += 1

print(f"Maximum horizontal range for maximum angle {max_deg} is {max_H}")

#**while - else**

In [ ]:
num = 10
while num <20:
    print(num)
    num=num+1
    print("\n it is while loop result \n ")
else:
    print("inside the else")
print("Outside the whole loop")

#**for loop**

1. 'for' with string

In [ ]:
name = "pawan"
for index in name:
  print(index)

p
a
w
a
n

In [ ]:
name = ['shyam', 'hari', 'nitesh']
for x in name :
  print(x)

shyam
hari
nitesh

In [ ]:
for x in "a brown fox quickly jumps over the lazy dog":
  if x  in 'aeiou':
    print(x)

In [ ]:
for x in "a brown fox quickly jumps over the lazy dog":
  if x not in 'aeiou':
    print(x)

2. 'for' with tuple

In [ ]:
num = (0,2,4,6,8,10,12,14,16,18,20)
sum = 0
for x in num:
  print(x)
  sum = sum +x
print(f"The sum of above tuple = {sum}")

3. 'for' with list

In [ ]:
mark = [60,40,80,55,56,90,88]
total = 0
#print(mark)
for x in mark:
  #print(x)
  total = total + x
  percentage = (total)*100/700
print(f"His total marks obtained in final exam is {total} \n and percentage is {percentage} %")

His total marks obtained in final exam is 469
 and percentage is 67.0 %

4. 'for' with range()
**syntax**

  for in range(statrt,stop,step)
  by default, start = 0, stop = last_term -1, step = 1

In [ ]:
num = range(10)
print(num)
print(list(num))
#for x in num:
 # print(x)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for x in range(11):
  print(x)
  #print(x, end ='')
#print()
for x in range(1,11):
  print(x)
  #print(x, end='')

012345678910
12345678910

In [ ]:
# Lets find the factorial using for loop
num = int(input("Enter a number: "))
factorial = 1
for x in range(1,num+1):
  factorial = factorial*x
print(factorial)

Enter a number: 4
24

In [ ]:
#working with sequence
sequence = [2,3,4,5,6,7,8,9]
index = range(len(sequence))
print(sequence)
#print(index)
for x in index:
  #print(sequence[x])
  print("item: ",x, "number: ",sequence[x])

[2, 3, 4, 5, 6, 7, 8, 9]
item:  0 number:  2
item:  1 number:  3
item:  2 number:  4
item:  3 number:  5
item:  4 number:  6
item:  5 number:  7
item:  6 number:  8
item:  7 number:  9

In [ ]:
for num in range(5):
  #print("My name is perry",num)
  print("My name is perry",num+1)

In [ ]:
#let see beauty of for loop in python
print("your time starts:", end='')
for i in range(10,0,-1):
  print("\r your left time:",i, end='')
  time.sleep(1)
print("\r Your time is off")

 Your time is off

#**for-else loop**
'''
Python supports else statement associated with for loop statement.
The else loop is executed if for loop is exhausted before going to main body of execution of code.
'''

In [ ]:

for num in range(10):
  print(f"inside for loop with number : {num+1}")
else:
  print(f"his is else loop")
print("Main body of program i.e outside the loop")

inside for loop with number : 1
inside for loop with number : 2
inside for loop with number : 3
inside for loop with number : 4
inside for loop with number : 5
inside for loop with number : 6
inside for loop with number : 7
inside for loop with number : 8
inside for loop with number : 9
inside for loop with number : 10
his is else loop
Main body of program i.e outside the loop

#**Nested loop**
Pyhton allows you to use one loop inside another loop. Examples:

In [ ]:
for i in range(10):
  for j in range(0,10):
    #print(f"({i},{j})")
    k = i*j
    print("{:4d}".format(k),end='')
  print()

   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9
   0   2   4   6   8  10  12  14  16  18
   0   3   6   9  12  15  18  21  24  27
   0   4   8  12  16  20  24  28  32  36
   0   5  10  15  20  25  30  35  40  45
   0   6  12  18  24  30  36  42  48  54
   0   7  14  21  28  35  42  49  56  63
   0   8  16  24  32  40  48  56  64  72
   0   9  18  27  36  45  54  63  72  81

In [ ]:
#Findig the cartesian product of two set:
set_A = [2,3]
set_B= [1,2,4]
for i in range(len(set_A)):
  for j in range(len(set_B)):
    print(f"{set_A[i]},{set_B[j]}")

2,1
2,2
2,4
3,1
3,2
3,4

In [ ]:
# prompt: code to print cartesian product of two set {2,3} and (1,3,4}

set_A = {2,3}
set_B = {1,3,4}
for i in set_A:
  for j in set_B:
    print(f"({i},{j})")

(2,1)
(2,3)
(2,4)
(3,1)
(3,3)
(3,4)

In [ ]:
#printing  numbers from 20 to 25
num = 20
while num<=25:
  even = 22
  while even <=24:
    print(even)
    even+=1
  num+=2

22
23
24
22
23
24
22
23
24

In [ ]:
# prompt: exmaple of nested while loop

i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(f"i = {i}, j = {j}")
        j += 1
    i += 1

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

#'break' statement

In [ ]:
i = 1
while i <=20:
  print(i)
  if i==10:
    break
  i=i+1

In [ ]:
salary = 5000
while salary <= 20000:
  print(salary)
  if salary >= 15000:
    break
  salary = salary+2000

5000
7000
9000
11000
13000
15000

#'continue' statement

In [ ]:
for letter in 'xyzabc':
  if letter == 'z':
    continue
  print(letter)
#for num in range(10,22):
 # if num == 20:
    continue
  print("good num",num)

x
y
a
b
c
good num 10
good num 11
good num 12
good num 13
good num 14
good num 15
good num 16
good num 17
good num 18
good num 19
good num 21

In [ ]:
i = 1
while i <=20:
  print(i)
  if i!=10:
    continue
  i=i+1

#'pass' statement

In [ ]:
num = int(input("Enter your score: "))
if num >=90:
  print("I will join CDP")
else:
  pass

Enter your score: 88

In [ ]:
sale=['a','b','c','d','e']
for k in sale:
    if k == 'c':
        pass
    else:
        print(k)
#print("loop is passed")

a
b
d
e