<a href="https://colab.research.google.com/github/pawan054/WDLMs-Workshopday-I/blob/main/varaibles_and_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Varaibles

**Variables are memory storage in which value of data is stored and their value are changing. Varaibles in python are associted with differrent data types such as int, float, complex, logic**

In [ ]:
age = 45
print(age)
gender = "male"
print(gender)
married = True
print(married)
income = 2345.67
print(f"{income}$")
family = ['wife', 'son', 'daughter','mother']
print(family)
sale = 3.14j
print(sale)
education = ('english','math', 'physics')
print(education)
fame = range(10)
print(fame)
detail= {'job': 'teaching', 'duration': 10, 'place': 'Kathmandu'}
print(detail)
type(detail)
extra = {4,5,6,7,8,'footballer','visitor'}
print(extra)
type(extra)
food = frozenset({'rice', 'chapati','vegetables'})
print(food)
type(food)

45
male
True
2345.67$
['wife', 'son', 'daughter', 'mother']
3.14j
('english', 'math', 'physics')
range(0, 10)
{'job': 'teaching', 'duration': 10, 'place': 'Kathmandu'}
{4, 5, 6, 7, 8, 'visitor', 'footballer'}
frozenset({'rice', 'vegetables', 'chapati'})

frozenset

In [ ]:
age = 45
type(age)

int

In [ ]:
gender = "male"
type(gender)

str

In [ ]:
married = True
type(married)

bool

In [ ]:
sale = 3.14j
type(sale)

complex

In [ ]:
income = 2345.67
type(income)

float

In [ ]:
income = 2345.67
print("find the difference ?")
type(f"{income}$")

find the difference ?

str

In [ ]:
family = ['wife', 'son', 'daughter','mother']
type(family)

list

In [ ]:
education = ('english','math', 'physics')
type(education)

tuple

In [ ]:
fame = range(10)
type(fame)

range

In [ ]:
detail= {'job': 'teaching', 'duration': 10, 'place': 'Kathmandu'}
type(detail)

dict

In [ ]:
extra = {4,5,6,7,8,'footballer','visitor'}
type(extra)

set

In [ ]:
food = frozenset({'rice', 'chapati','vegetables'})
type(food)

frozenset

# Data types
Hence, python supports following
data types

1. Text Type     : 	str
2. Numeric Types : 	int, float, complex
3. Sequence Types: 	list, tuple, range
4. Mapping Type  : 	dict
5. Set Types     : 	set, frozenset
6. Boolean Type  : 	bool
7. Binary Types  : 	bytes, bytearray,

Why variables so called variables?

In [ ]:
# Changing the value of Variables
a = 2.5
b = 24
c = 2.5 * b #float(b)
print('product of',a, 'and',b,'=',c)

product of 2.5 and 24 = 60.0

In [ ]:
# now lets change the value of Variables
a = 25
b = 34
c = 2.5 * b #float(b)
print('product of',a, 'and',b,'=',c)

product of 25 and 34 = 85.0

#Literals
raw or fixed values of the data given to the varaibles or constant. Python supports:
1. Numerical literals
2. Strings literals
3. Boolean literals
4. Special literals

In [ ]:
# Numerical literals
num1 = 42
num2 = -3.14
num3 = 2 + 3j

# String literals
str1 = 'hello'
str2 = "world"
str3 = '''multiline strings
you can print multiple lines here
this is so good in pytho .
you can go write
'''

print(str3)
# Boolean literals
b1 = True
b2 = False

# Special literals
result = None

multiline strings
you can print multiple lines here
this is so good in pytho .
you can go write

Thank you

Prepared by:pawan joshi

email:pjoshi2357@gmail.com